{% include 'pagehead.html.twig' %}
<h1>Shoe Store</h1>
<div class = "row">
  <div class = "col-md-6">
    {% if brands is not empty %}
      <h2>{{ brands.getName }}</h2>
      <h5>The brand {{ brands.getName }} is currently available at the following stores:</h5>
      <ul>
        {% for store in stores %}
        <li><a href="/store_edit/{{ store.getId }}">{{ store.getName }}</a></li>
        {% endfor %}
    {% endif %}
  </div>
  <div class = "col-md-6">
    <form action="/brand_edit/{{ brands.getId }}" method="post">
      <input name="_method" type="hidden" value="patch">
      <div class = "form-group">
        <label for="brand_edit">Edit Current Brand</label>
        <input class="form-control" placeholder="New Brand Name" type='text' name="brand_edit" id='brand_edit'>
      </div>
      <div class = "form-group">
        <button class="btn btn-primary" type="submit">Edit This Brand</button>
      </div>
    </form>
    <form action="/brand_edit/{{ brands.getId }}" method="post">
      <input name="_method" type="hidden" value="delete">
      <div class = "form-group">
        <button class="btn btn-danger" type="submit">Remove This Brand</button>
      </div>
    </form>
  </div>
</div>
<div class = "row">
  <div class = "col-md-6">
  </div>
  <div class = "col-md-6">
    <form action="/brand_edit/{{ brands.getId }}" method="post">
      <div class = "form-group">
        <label for="store_add">Add New Store For This Brand</label>
        <input class="form-control" placeholder="New Store Name" type='text' name="store_add" id='store_add'>
      </div>
      <div class = "form-group">
        <button class="btn btn-primary" type="submit">Add Store For This Brand</button>
      </div>
    </form>
    <h3><a href="/">Return Home</a></h3>
  </div>
</div>

{% include 'bottom.html.twig' %}
