{% include 'pagehead.html.twig' %}
<h1>Shoe Store</h1>
<div class = "row">
  <div class = "col-md-6">
    {% if stores is not empty %}
      <h2>{{ stores.getName }}</h2>
      <h5>The store {{ stores.getName }} currently offers the following brands:</h5>
      <ul>
        {% for brand in brands %}
        <li><a href="/brand_edit/{{ brand.getId }}">{{ brand.getName }}</a></li>
        {% endfor %}
    {% endif %}
  </div>
  <div class = "col-md-6">
    <form action="/store_edit/{{ stores.getId }}" method="post">
      <input name="_method" type="hidden" value="patch">
      <div class = "form-group">
        <label for="store_edit">Edit Current Store</label>
        <input class="form-control" placeholder="New Store Name" type='text' name="store_edit" id='store_edit'>
      </div>
      <div class = "form-group">
        <button class="btn btn-primary" type="submit">Edit This Store</button>
      </div>
    </form>
    <form action="/store_edit/{{ stores.getId }}" method="post">
      <input name="_method" type="hidden" value="delete">
      <div class = "form-group">
        <button class="btn btn-danger" type="submit">Remove This Store</button>
      </div>
    </form>
  </div>
</div>
<div class = "row">
  <div class = "col-md-6">
  </div>
  <div class = "col-md-6">
    <form action="/brands" method="post">
      <div class = "form-group">
        <label for="brand">Add New Brand</label>
        <input class="form-control" placeholder="New Brand Name" type='text' name="brand" id='brand'>
      </div>
      <div class = "form-group">
        <button class="btn btn-primary" type="submit">Add Brand For This Store</button>
      </div>
    </form>
    <form action="/delete_brands" method="post">
      <div class = "form-group">
        <button class="btn btn-danger" type="submit">Remove All Brands</button>
      </div>
    </form>
    <h3><a href="/">Return Home</a></h3>
  </div>
</div>

{% include 'bottom.html.twig' %}
